---
layout: post
title: "Client 0.46 Released"
author: "CiaranG"
---

<div class="post-entry">
<p>The latest release of the F-Droid Repository Client, version 0.46, is now available. You can download it from the home page or, if you already have an earlier version installed, just update.</p>
<p>Main changes since 0.45:</p>
<ul>
<li>Worked around a bad interaction with Google App Verification (relevant only to proprietary software users)</li>
<li>Minor UI improvements (layout, spacing)</li>
</ul>
<p>As usual, if you have problems or feature requests, talk to the <a href="{{ site.baseurl }}/repository/issues">issue tracker</a>, join us in the <a href="https://forum.f-droid.org">Forum</a> or visit #fdroid on FreeNode.</p>
</div>